<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>Smart AutoML Platform</title>

<!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<!-- Navbar -->
<nav class="navbar navbar-dark bg-dark shadow">
<div class="container">
<span class="navbar-brand mb-0 h1">Smart Data Cleaning & AutoML</span>
</div>
</nav>


<!-- Hero Section -->
<section class="hero">

<div class="container text-center">

<h1 class="display-4 fw-bold">Automated Machine Learning Platform</h1>

<p class="lead">
Upload your dataset and automatically clean data, train models,
and select the best algorithm.
</p>

</div>

</section>


<!-- Upload Card -->
<div class="container">

<div class="row justify-content-center">

<div class="col-md-6">

<div class="card shadow-lg p-4">

<h4 class="text-center mb-3">Upload Dataset</h4>

<form action="/upload" method="POST" enctype="multipart/form-data">

<input class="form-control mb-3" type="file" name="file" required>

<button class="btn btn-primary w-100" type="submit">
Run AutoML
</button>

</form>

</div>

</div>

</div>

</div>


<!-- Features -->
<section class="features">

<div class="container">

<div class="row text-center">

<div class="col-md-4">
<div class="feature-card shadow">
<h4>Smart Cleaning</h4>
<p>Automatically remove missing values, duplicates, and outliers.</p>
</div>
</div>

<div class="col-md-4">
<div class="feature-card shadow">
<h4>Auto Model Selection</h4>
<p>System selects best ML model automatically.</p>
</div>
</div>

<div class="col-md-4">
<div class="feature-card shadow">
<h4>Model Comparison</h4>
<p>Compare multiple algorithms with visualization.</p>
</div>
</div>

</div>

</div>

</section>
<footer class="text-center mt-5 mb-3 text-muted">

<p>
Smart Data Cleaning & AutoML Platform  
</p>

<p>
Developed by <b>Shweta Jadhav</b>
</p>

</footer>


</body>
</html>